beautifulsoup4==4.12.2
bokeh==2.4.3
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
contourpy==1.1.0
cryptography 
cycler==0.11.0
docopt 
Faker==19.2.0
favicon==0.7.0
fonttools==4.41.1
htbuilder==0.6.1
idna 
joblib==1.3.1
kiwisolver==1.4.4
lxml==4.9.3
Markdown==3.4.3
markdownlit==0.0.7
matplotlib==3.7.2
more-itertools==10.0.0
pipreqs==0.4.13
pycparser 
pydeck==0.8.0
pymdown-extensions==10.1
pyOpenSSL 
pyparsing==3.0.9
PySocks 
requests 
scikit-learn==1.2.2
scipy==1.11.1
soupsieve==2.4.1
st-annotated-text==4.0.0
streamlit==1.25.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
threadpoolctl==3.2.0
urllib3 
win-inet-pton 
xyzservices==2023.7.0
yarg==0.1.9
